service: tokenhandler

# Details for the two AWS deployed stages
stages:
  dev:
    params:
      domainName: 'bff.authsamples-dev.com'
      certificateDomainName: 'authsamples-dev.com'
  deployed:
    params:
      domainName: 'bff.authsamples.com'
      certificateDomainName: 'authsamples.com'

# AWS deployment details
provider:
  name: aws
  runtime: nodejs24.x
  region: eu-west-2
  apiGateway:
    shouldStartNameWithService: true

# A single lambda function covers all token handler routes
functions:
  wildcard:
    handler: dist/wildcard.handler
    package:
      include:
        - dist/wildcard.js
        - config.json
        - package.json
    events:
      - http: 
          path: /{proxy+}
          method: ANY

# Disable the default build which we are overriding with webpack
build:
  esbuild: false

# Exclude all files by default and choose files in the function packaging above
package:
  individually: true
  patterns:
  - '!/**'
  
# Support configuring domain details in AWS
plugins:
  - serverless-domain-manager

# AWS custom domain integration details
custom:
  customDomain:
    domainName: ${param:domainName}
    certificateName: ${param:certificateDomainName}
    endpointType: regional

resources:
  Resources:

    # Limit cloudwatch log retention 
    WildcardLogGroup:
      Type: 'AWS::Logs::LogGroup'
      Properties:
        RetentionInDays: '5'
